/* GENERAL STYLES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Sarabun", sans-serif;
  font-weight: bold;
}
body {
  background-color: white;
}
h2 {
  font-family: "Sansita", sans-serif;
  font-size: 35px;
}
:root {
  --yellow-color: #fff952;
  --pink-color: #ff63e6;
  --green-color: #86ed3d;
}
/* al pasar el cursor cambia de color y escala su tamaño*/
.links:hover {
  padding: 5px;
  border: none;
  border-radius: 20px;
  background-color: var(--yellow-color);
  transition: all 1s;
  transform: scale(1.5);
}

/* HEADER-NAV */
header {
  position: sticky;
  top: 0;
}
nav ul {
  background-color: #ff63e586;
  display: flex;
  justify-content: flex-end;
  list-style: none;
}
nav ul li {
  padding: 15px;
}
nav ul li a {
  color: black;
  text-decoration: none;
}
.nav-button {
  padding: 5px;
  border: none;
  border-radius: 20px;
  background-color: var(--yellow-color);
}

/* SECTION-BIO */
section.cont-bio {
  min-height: 90vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
/* button-bio*/
.cont-hola button {
  padding: 10px;
  border: none;
  border-radius: 20px;
  background-color: var(--yellow-color);
}
/* efecto de rotacion al pasar el cursor */
.cont-hola button:hover {
  transition: all 1s;
  transform: rotate(360deg);
}
.cont-hola button a {
  color: black;
  text-decoration: none; /*saca el subrayado*/
  text-shadow: 0px 2px 18px rgba(255, 99, 230, 1);
}
/* ¡hola soy! - cambio el tipo de letra */
section.cont-bio h1 {
  margin-bottom: 15px;
  font-family: "Sansita", sans-serif;
}
/* poli ferreyra - cambio el tipo de letra del h2*/
section.cont-bio h2 {
  margin-bottom: 15px;
  font-family: "Kaushan Script", cursive;
  font-size: 50px;
  text-shadow: 0px 2px 18px rgba(255, 99, 230, 1); /* google - box shadow generator */
  color: var(--pink-color);
}
section.cont-bio p {
  margin-bottom: 10px;
}
/* img styles-bio */
.cont-img {
  width: 400px;
  height: 400px;
}
.cont-img img {
  max-width: 100%;
  object-fit: cover; /* para adaptarse automaticamente a las medidas del contenedor */
}
/* SECTION-SKILLS  */
.section-skills {
  min-height: 100vh;
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-skills h2 {
  margin-bottom: 40px;
}
.skills-p {
  width: 500px;
  margin-bottom: 40px;
  text-align: center;
}
/* SKILLS - BOX*/
.cont-skills-i {
  display: flex;
  flex-wrap: wrap;
  min-height: 80vh;
  width: 800px;
  justify-content: center;
  align-items: center;
}
.i-size {
  font-size: 100px;
}
.fa-html5 {
  color: #ff5722;
}
.fa-css3 {
  color: #2196f3;
}
.fa-git-alt {
  color: #f15233;
}
.cont-i {
  box-shadow: 0px 2px 15px 4px rgba(255, 249, 82, 0.75);
  border-radius: 10px;
  width: 200px;
  height: 200px;
  margin: 10px;
  font-size: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* SECTION-QUOTE */
section.cont-quote {
  background-color: #fff952d7;
  min-height: 50vh;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.i-color {
  color: var(--pink-color);
}
section blockquote p {
  width: 800px;
  color: var(--pink-color);
  font-size: 25px;
  text-align: center;
  padding: 20px;
}
.autor {
  padding: 30px;
}
/* SECTION-PROJECT */
section.cont-project {
  min-height: 100vh;
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
section.cont-project h2 {
  margin-bottom: 40px;
}
section.cont-project p {
  width: 500px;
  text-align: center;
  margin-bottom: 40px;
}
/* IMG - BOX - PROJECT */
.img-project {
  width: 100%;
  max-height: 2000px;
  margin: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 200px));
  justify-content: center;
  align-items: center;
}
.img-project img {
  padding: 20px;
  max-width: 200px;
  max-height: 200px;
  object-fit: cover;
}

/* SECTION-CONTACT*/
/* contactame */
.section-contacto {
  min-height: 85vh;
  padding: 60px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cont-contact {
  background-color: var(--yellow-color);
  min-height: 40vh;
  border-radius: 20px;
  padding: 80px 60px;
  display: flex;
  justify-content: center;
}
.contactame {
  height: 500px;
  width: 450px;
}
.contactame h2 {
  margin-bottom: 30px;
}
.contactame p {
  width: 300px;
}
.cont-links {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
}
.cont-links i {
  padding: 10px;
  color: var(--green-color);
}
.cont-links a {
  text-decoration: none;
  color: black;
}
/* escribime */
.escribime {
  display: flex;
  flex-direction: column;
  height: 500px;
  width: 500px;
}
.escribime h2 {
  margin-bottom: 30px;
}
#name {
  width: 150px;
  height: 30px;
  padding: 5px;
  border: 1px transparent;
  background-color: #86ed3d38;
  border-radius: 10px;
}
#lastname {
  width: 150px;
  height: 30px;
  padding: 5px;
  border: 1px transparent;
  background-color: #86ed3d38;
  border-radius: 10px;
}
#email {
  width: 400px;
  height: 30px;
  padding: 5px;
  border: 1px transparent;
  background-color: #86ed3d38;
  border-radius: 10px;
}
#msj {
  width: 400px;
  height: 150px;
  padding: 5px;
  border: 1px transparent;
  background-color: #86ed3d38;
  border-radius: 10px;
}
#form-button {
  width: 100px;
  height: 30px;
  border: 1px transparent;
  background-color: #86ed3d38;
  border-radius: 10px;
}
/* FOOTER */
footer {
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}
.nav-footer {
  display: flex;
  list-style: none;
}
.nav-footer a {
  margin: 20px;
  text-decoration: none;
}
.fa-linkedin-in {
  color: var(--green-color);
  font-size: 20px;
}
.fa-envelope {
  color: var(--green-color);
  font-size: 20px;
}
.fa-brands {
  padding: 15px;
  border-radius: 50px;
}
.fa-solid {
  padding: 15px;
  border-radius: 50px;
}
.i-footer i {
  margin: 20px;
}
footer p {
  margin-top: 50px;
  height: 70px;
}
/* responsive - escritorio 1025px en adelante */
@media screen and (min-width: 1025px) {
  div.img-project {
    grid-template-columns: repeat(3, auto);
  }
  div.img-project img {
    padding: 20px;
    max-width: 270px;
    max-height: 270px;
    object-fit: cover;
  }
  .cont-contact {
    width: 95%;
  }
}
/* responsive - portatiles 769px a 1024px */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  section.cont-bio {
    padding: 60px 20px;
  }
  div.img-project {
    grid-template-columns: repeat(3, auto);
  }
  div.img-project img {
    padding: 20px;
    max-width: 250px;
    max-height: 250px;
    object-fit: cover;
  }
  .cont-contact {
    width: 95%;
    flex-direction: column;
    padding: 60px;
    margin-top: 50px;
  }
  .contactame {
    max-width: 100%;
    height: 330px;
  }
  .contactame p {
    width: 100%;
    box-sizing: border-box;
  }
  .escribime {
    max-width: 100%;
  }
  #name,
  #lastname,
  #email,
  #msj {
    width: 100%;
  }
}
/* responsive - tablet's 481px a 768px */
@media screen and (min-width: 481px) and (max-width: 768px) {
  section.cont-bio {
    padding: 60px 20px;
  }
  div.cont-img {
    max-height: 350px;
  }
  .skills-p {
    max-width: 100%;
    padding: 10px;
    box-sizing: border-box;
  }
  div.cont-skills-i {
    max-width: 100%;
  }
  .cont-quote p {
    font-size: 15px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
  }
  section.cont-project {
    padding: 60px 30px;
  }
  section.cont-project p {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
  }
  .cont-contact {
    width: 95%;
    flex-direction: column;
    padding: 60px;
  }
  .contactame {
    max-width: 100%;
    height: 330px;
  }
  .contactame p {
    width: 100%;
    box-sizing: border-box;
  }
  .escribime {
    max-width: 100%;
  }
  #name,
  #lastname,
  #email,
  #msj {
    width: 100%;
  }
}
/* responsive - mobile 320px a 480px */
@media screen and (min-width: 320px) and (max-width: 480px) {
  h2 {
    font-size: 30px;
  }
  nav ul {
    max-width: 100%;
  }
  nav ul li {
    padding: 7px;
  }
  nav ul li a {
    font-size: 13px;
  }
  section.cont-bio {
    padding: 60px, 20px;
  }
  section.cont-bio h1 {
    font-size: 30px;
  }
  div.cont-hola {
    padding: 10px;
  }
  div.cont-img {
    max-height: 230px;
  }
  .section-skills {
    padding: 60px, 20px;
  }
  .skills-p {
    max-width: 100%;
    padding: 10px;
    box-sizing: border-box;
  }
  .cont-skills-i {
    max-width: 100%;
  }
  .cont-i {
    max-width: 100px;
    max-height: 110px;
    font-size: 15px;
  }
  .i-size {
    font-size: 50px;
  }
  .cont-quote p {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    font-size: 15px;
  }
  section.cont-project p {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
  }
  section.contacto {
    max-width: 100%;
  }
  .cont-contact {
    width: 95%;
    flex-direction: column;
    padding: 30px;
  }
  .contactame {
    max-width: 100%;
    height: 330px;
  }
  .contactame p {
    width: 100%;
    box-sizing: border-box;
  }
  .escribime {
    max-width: 100%;
  }
  #name,
  #lastname,
  #email,
  #msj {
    width: 100%;
  }
  ul.nav-footer {
    max-width: 100%;
  }
  .nav-footer li a {
    font-size: 13px;
    margin: 7px;
  }
}
