* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

/* nav */
header {
  background-color: rebeccapurple;
  position:sticky;
  top:0;
  width: 100%;
}


nav ul {
  background-color: rgb(26, 225, 26);
  width: 100%;
  display: flex;
  justify-content: flex-end;
  list-style: none;
}

nav ul li {
  padding: 20px;
}

/* section-bio */

section.cont-bio {
  background-color: rgb(229, 57, 26);
  height: 500px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.cont-hola button{
  padding: 15px;
  border: none;
  border-radius: 20px;
  background-color: blue;
  
}

.cont-hola button a{
  color: antiquewhite;
  text-decoration: none; /*sacar el subrayado*/
}
section.cont-bio h1 {
  margin-bottom: 15px;
}

section.cont-bio h2 {
  margin-bottom: 15px;
}

.button-i-do {
  padding: 15px;
}

.cont-img img {
  width: 200px;
  height: 200px;
}

/* section-skills  */
section.cont-skills {
  background-color: aqua;
  height: 800px;
  padding-top: 100px;
}

section.cont-skills h2 {
  text-align: center;
  margin-bottom: 20px;
}

section.cont-skills p {
  text-align: center;
}

.cont-skills-img {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}
/* Section-quote */

section.cont-quote {
  background-color: lime;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

section blockquote p {
  width: 800px;
  background-color: blanchedalmond;
}

/* section-project */

section.cont-project {
  background-color: rgb(192, 43, 226);
  height: 700px;
  padding: 100px;
}

section.cont-project h2 {
  text-align: center;
  margin-bottom: 40px;
}

section.cont-project p{
  text-align: center;
}

div.img-project{
  display: flex;
  justify-content: space-around;
}
div.img-project img {
  width: 200px;
  height: 200px;
  margin-top: 30px;
  
}

/* section-contact*/

section.cont-contact {
  background-color: rgb(240, 251, 40);
  height: 400px;
}
